.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#square {
  height: 500px;
  width: 500px;
  display: block;
  flex-direction: column;
  column-count: 2;
}
.btn {
  height:30px;
  width: 150px;
  margin-top: 58px;
}
